
.ve-table ,
.ve-td,
.ve-th {
    border: 0.5px solid gray;
    border-bottom: 1px solid;
    text-align: center;
    margin-top: 5px;
}

.ve-tr{
    margin-top: 5px;
    height: 50px;
}
.ve-thead {
    font-weight: bolder;
    padding: 3px;
    background-color: black;
    color: white;
}

.tensk {
    text-align: left;
    padding-left: 3px;
}

.ve-table {
    width: 98%;
    border-collapse: collapse;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.ve-btn {
    margin: 1px 3px 1px 3px;
    width:10px;
    border: none;
    border-radius: 10px;
    color: blue;
    background-color: white;
    text-decoration: underline;
   
}

.btn-chitiet {
   
    background-color: green;
}

.btn-chinhsua {
   
    background-color: orange;
}

.btn-xoa {
   
    background-color: red;
}

#tuychinh {
    width: 335px;
}

#table-name {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 5px;
    font-size: 32px;
}
#stt{
    width: auto;
}
.ve-icon{
    margin: 0px 15px 0px 15px;
    width: 1.8em;
    height: 1.8em;
   
}
.ve-btn-div
{
    width: 97%;
    outline: dashed 1px black;
    padding: 5px;
    margin: 20px;
    display: flex;
    justify-content: center;
}
.ve-btn-page{
    border: 1px solid black;
    width: 40px;
    height: 28px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    background-color: black;
    color: white;
}
.ve-active{
    color: black;
    background-color: white ;
}